<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>

    <link href="https://fret.codesalvageon.repl.co/styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://vret.codesalvageon.repl.co/images/icon.png" rel="icon"/>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://vret.codesalvageon.repl.co/scripts/buttons.js"></script>
    <script src="https://fret.codesalvageon.repl.co/scripts/storage.js"></script>
    <script src="https://fret.codesalvageon.repl.co/scripts/ajax.js"></script>
  </body>
</html>